<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yzq.stp.mapper.UserMapper">
	<resultMap id="BaseResultMap" type="com.yzq.stp.model.User">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="pwd" jdbcType="VARCHAR" property="pwd" />
		<result column="email" jdbcType="VARCHAR" property="email" />
		<result column="mobile" jdbcType="VARCHAR" property="mobile" />
		<result column="type" jdbcType="INTEGER" property="type" />
		<result column="skill" jdbcType="VARCHAR" property="skill" />
		<result column="create_time" jdbcType="DATE" property="createTime" />
	</resultMap>
	<resultMap extends="BaseResultMap" id="ResultMapWithBLOBs"
		type="com.yzq.stp.model.User">
		<result column="introduce" jdbcType="LONGVARCHAR" property="introduce" />
	</resultMap>
	<sql id="Base_Column_List">
		id, name, pwd, email, mobile, type, skill, create_time
	</sql>
	<sql id="Blob_Column_List">
		introduce
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="ResultMapWithBLOBs">
		select
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from t_user
		where id = #{id,jdbcType=INTEGER}
	</select>

	<select id="queryUser" parameterType="com.yzq.stp.model.User"
		resultMap="ResultMapWithBLOBs">
		SELECT
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		FROM t_user
		WHERE name = #{name,jdbcType=VARCHAR}
		AND pwd =
		#{pwd,jdbcType=VARCHAR}
		AND type = #{type,jdbcType=INTEGER}
	</select>

	<select id="queryUserByName" resultMap="ResultMapWithBLOBs">
		SELECT
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		FROM t_user
		WHERE name = #{name,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from t_user
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.yzq.stp.model.User">
		insert into t_user (id, name,
		pwd,
		email, mobile, type,
		skill, create_time, introduce
		)
		values
		(#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR},
		#{pwd,jdbcType=VARCHAR},
		#{email,jdbcType=VARCHAR},
		#{mobile,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER},
		#{skill,jdbcType=VARCHAR}, #{createTime,jdbcType=DATE},
		#{introduce,jdbcType=LONGVARCHAR}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.yzq.stp.model.User">
		insert into t_user
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="pwd != null">
				pwd,
			</if>
			<if test="email != null">
				email,
			</if>
			<if test="mobile != null">
				mobile,
			</if>
			<if test="type != null">
				type,
			</if>
			<if test="skill != null">
				skill,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="introduce != null">
				introduce,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="pwd != null">
				#{pwd,jdbcType=VARCHAR},
			</if>
			<if test="email != null">
				#{email,jdbcType=VARCHAR},
			</if>
			<if test="mobile != null">
				#{mobile,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				#{type,jdbcType=INTEGER},
			</if>
			<if test="skill != null">
				#{skill,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=DATE},
			</if>
			<if test="introduce != null">
				#{introduce,jdbcType=LONGVARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.yzq.stp.model.User">
		update t_user
		<set>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="pwd != null">
				pwd = #{pwd,jdbcType=VARCHAR},
			</if>
			<if test="email != null">
				email = #{email,jdbcType=VARCHAR},
			</if>
			<if test="mobile != null">
				mobile = #{mobile,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				type = #{type,jdbcType=INTEGER},
			</if>
			<if test="skill != null">
				skill = #{skill,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=DATE},
			</if>
			<if test="introduce != null">
				introduce = #{introduce,jdbcType=LONGVARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKeyWithBLOBs" parameterType="com.yzq.stp.model.User">
		update
		t_user
		set name = #{name,jdbcType=VARCHAR},
		pwd =
		#{pwd,jdbcType=VARCHAR},
		email = #{email,jdbcType=VARCHAR},
		mobile =
		#{mobile,jdbcType=VARCHAR},
		type = #{type,jdbcType=INTEGER},
		skill =
		#{skill,jdbcType=VARCHAR},
		create_time = #{createTime,jdbcType=DATE},
		introduce = #{introduce,jdbcType=LONGVARCHAR}
		where id =
		#{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.yzq.stp.model.User">
		update t_user
		set
		name = #{name,jdbcType=VARCHAR},
		pwd = #{pwd,jdbcType=VARCHAR},
		email =
		#{email,jdbcType=VARCHAR},
		mobile = #{mobile,jdbcType=VARCHAR},
		type =
		#{type,jdbcType=INTEGER},
		skill = #{skill,jdbcType=VARCHAR},
		create_time = #{createTime,jdbcType=DATE}
		where id =
		#{id,jdbcType=INTEGER}
	</update>
</mapper>