<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yzq.stp.mapper.UserMapper">
	<resultMap id="BaseResultMap" type="com.yzq.stp.model.User">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="pwd" jdbcType="VARCHAR" property="pwd" />
		<result column="email" jdbcType="VARCHAR" property="email" />
		<result column="mobile" jdbcType="VARCHAR" property="mobile" />
		<result column="type" jdbcType="INTEGER" property="type" />
		<result column="skill" jdbcType="VARCHAR" property="skill" />
		<result column="pic" jdbcType="VARCHAR" property="pic" />
		<result column="address" jdbcType="VARCHAR" property="address" />
		<result column="real_name" jdbcType="VARCHAR" property="realName" />
		<result column="qq" jdbcType="VARCHAR" property="qq" />
		<result column="jishu" jdbcType="VARCHAR" property="jishu" />
	</resultMap>
	<resultMap extends="BaseResultMap" id="ResultMapWithBLOBs"
		type="com.yzq.stp.model.User">
		<result column="introduce" jdbcType="LONGVARCHAR" property="introduce" />
	</resultMap>
	<sql id="Base_Column_List">
		id, name, pwd, email, mobile, type, skill, pic, address,
		real_name, qq,
		jishu
	</sql>
	<sql id="Blob_Column_List">
		introduce
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="ResultMapWithBLOBs">
		select
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from t_user
		where id = #{id,jdbcType=INTEGER}
	</select>
	<select id="queryUser" parameterType="com.yzq.stp.model.User"
		resultMap="ResultMapWithBLOBs">
		SELECT
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		FROM t_user
		WHERE name = #{name,jdbcType=VARCHAR}
		AND pwd = #{pwd,jdbcType=VARCHAR}
		AND type = #{type,jdbcType=INTEGER}
	</select>

	<select id="queryUserByName" resultMap="ResultMapWithBLOBs">
		SELECT
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		FROM t_user
		WHERE name = #{name,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from t_user
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.yzq.stp.model.User">
		insert into t_user (id, name,
		pwd,
		email, mobile, type,
		skill, pic, address,
		real_name, qq, jishu,
		introduce)
		values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR},
		#{pwd,jdbcType=VARCHAR},
		#{email,jdbcType=VARCHAR},
		#{mobile,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER},
		#{skill,jdbcType=VARCHAR}, #{pic,jdbcType=VARCHAR},
		#{address,jdbcType=VARCHAR},
		#{realName,jdbcType=VARCHAR},
		#{qq,jdbcType=VARCHAR}, #{jishu,jdbcType=VARCHAR},
		#{introduce,jdbcType=LONGVARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.yzq.stp.model.User">
		insert into t_user
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="pwd != null">
				pwd,
			</if>
			<if test="email != null">
				email,
			</if>
			<if test="mobile != null">
				mobile,
			</if>
			<if test="type != null">
				type,
			</if>
			<if test="skill != null">
				skill,
			</if>
			<if test="pic != null">
				pic,
			</if>
			<if test="address != null">
				address,
			</if>
			<if test="realName != null">
				real_name,
			</if>
			<if test="qq != null">
				qq,
			</if>
			<if test="jishu != null">
				jishu,
			</if>
			<if test="introduce != null">
				introduce,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="pwd != null">
				#{pwd,jdbcType=VARCHAR},
			</if>
			<if test="email != null">
				#{email,jdbcType=VARCHAR},
			</if>
			<if test="mobile != null">
				#{mobile,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				#{type,jdbcType=INTEGER},
			</if>
			<if test="skill != null">
				#{skill,jdbcType=VARCHAR},
			</if>
			<if test="pic != null">
				#{pic,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				#{address,jdbcType=VARCHAR},
			</if>
			<if test="realName != null">
				#{realName,jdbcType=VARCHAR},
			</if>
			<if test="qq != null">
				#{qq,jdbcType=VARCHAR},
			</if>
			<if test="jishu != null">
				#{jishu,jdbcType=VARCHAR},
			</if>
			<if test="introduce != null">
				#{introduce,jdbcType=LONGVARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.yzq.stp.model.User">
		update t_user
		<set>
			<if test="name != null and name.length()>0">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="pwd != null and pwd.length()>0">
				pwd = #{pwd,jdbcType=VARCHAR},
			</if>
			<if test="email != null and email.length()>0">
				email = #{email,jdbcType=VARCHAR},
			</if>
			<if test="mobile != null and mobile.length()>0">
				mobile = #{mobile,jdbcType=VARCHAR},
			</if>
		
			<if test="skill != null and skill.length()>0">
				skill = #{skill,jdbcType=VARCHAR},
			</if>
			<if test="pic != null and pic.length()>0">
				pic = #{pic,jdbcType=VARCHAR},
			</if>
			<if test="address != null and address.length()>0">
				address = #{address,jdbcType=VARCHAR},
			</if>
			<if test="realName != null and realName.length()>0">
				real_name = #{realName,jdbcType=VARCHAR},
			</if>
			<if test="qq != null and qq.length()>0">
				qq = #{qq,jdbcType=VARCHAR},
			</if>
			<if test="jishu != null and jishu.length()>0">
				jishu = #{jishu,jdbcType=VARCHAR},
			</if>
			<if test="introduce != null and introduce.length()>0">
				introduce = #{introduce,jdbcType=LONGVARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKeyWithBLOBs" parameterType="com.yzq.stp.model.User">
		update
		t_user
		set name = #{name,jdbcType=VARCHAR},
		pwd =
		#{pwd,jdbcType=VARCHAR},
		email = #{email,jdbcType=VARCHAR},
		mobile =
		#{mobile,jdbcType=VARCHAR},
		type = #{type,jdbcType=INTEGER},
		skill =
		#{skill,jdbcType=VARCHAR},
		pic = #{pic,jdbcType=VARCHAR},
		address =
		#{address,jdbcType=VARCHAR},
		real_name = #{realName,jdbcType=VARCHAR},
		qq = #{qq,jdbcType=VARCHAR},
		jishu = #{jishu,jdbcType=VARCHAR},
		introduce = #{introduce,jdbcType=LONGVARCHAR}
		where id =
		#{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.yzq.stp.model.User">
		update t_user
		set
		name = #{name,jdbcType=VARCHAR},
		pwd = #{pwd,jdbcType=VARCHAR},
		email =
		#{email,jdbcType=VARCHAR},
		mobile = #{mobile,jdbcType=VARCHAR},
		type =
		#{type,jdbcType=INTEGER},
		skill = #{skill,jdbcType=VARCHAR},
		pic =
		#{pic,jdbcType=VARCHAR},
		address = #{address,jdbcType=VARCHAR},
		real_name = #{realName,jdbcType=VARCHAR},
		qq = #{qq,jdbcType=VARCHAR},
		jishu = #{jishu,jdbcType=VARCHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>